# general
.git
.gitignore
.dockerignore
.env
.env.*
secrets
docs
node_modules
README.md
**/.gitignore
**/Dockerfile
**/node_modules
**/README.md

# backend
apps/backend/**/dist
apps/backend/**/*.log
apps/backend/**/*.md

# panel-react
apps/frontend/panel-react/.next

# panel-vue
apps/frontend/panel-vue/.nuxt
apps/frontend/panel-vue/.output
