# --- MAIN ---
TZ=UTC
PROJECT_TAG=AP
GOOGLE_CLIENT_ID=""

# NOTE: Reserved ports
# postgres-exporter - 9187
# redis-exporter - 9121
# rabbitmq-exporter - 15692
# RabbitMQ Management - 15672
# grafana - 9000
# grafana/alloy - 4317/4318/12345
# grafana/tempo - 4317/4318/3200
# prometheus - 9090
# nginx health - 8008
# nginx-exporter - 8080/9113
# api - 9229
# mailer - 9239

# --- CORE LAYER ---

# postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=main

# redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
REDIS_USER=default
REDIS_PASSWORD=password
REDIS_ARGS="--requirepass ${REDIS_PASSWORD}"

# rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password
RABBITMQ_PROMETHEUS_RETENTION_POLICY=1000
RABBITMQ_MAIL_QUEUE=mailQueue

# --- OBSERVABILITY LAYER ---

# grafana
GF_SECURITY_ADMIN_USER=user
GF_SECURITY_ADMIN_PASSWORD__FILE=/run/secrets/grafana
GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=grafana-piechart-panel

# --- APPLICATION LAYER (BACKEND) ---

# api
API_HOST=api
API_PORT=3000
# NOTE
# For subsections: use "/" for root or "/path/" (e.g., "/api/")
# For subdomains: use subdomain without protocol (e.g., "api.${NGINX_URL}")
API_URL="/api/"
API_ACCESS_TOKEN_LIFETIME=600 # 10 minutes in seconds
API_REFRESH_TOKEN_LIFETIME=2592000 # 30 days in seconds

# mailer
MAILER_HOST=mailer
MAILER_PORT=3001
MAILER_SMTP_HOST=localhost
MAILER_SMTP_PORT=587 # 587 - TLS port
MAILER_SMTP_USER=user

# --- APPLICATION LAYER (FRONTEND) ---

# panel-react
PANEL_REACT_HOST=panel-react
PANEL_REACT_PORT=3002
# NOTE
# For subsections: use "/" for root or "/path/" (e.g., "/react/")
# For subdomains: use domain (e.g., "localhost.com" or "${NGINX_URL}")
PANEL_REACT_URL="/"

# panel-vue
PANEL_VUE_HOST=panel-vue
PANEL_VUE_PORT=3003
# NOTE
# For subsections: use "/" for root or "/path/" (e.g., "/vue/")
# For subdomains: use subdomain without protocol (e.g., "vue.${NGINX_URL}")
PANEL_VUE_URL="/vue/"

# --- GATEWAY LAYER ---

# nginx
NGINX_HOST=nginx
NGINX_PORT=80
NGINX_SSL_PORT=443
# NOTE
# For subsections: use "localhost" (or your domain) without path
# For subdomains: use "localhost.com" (or your domain with subdomains)
NGINX_URL=localhost
